.navbar{
margin-bottom:0px;
height:20%;
}
.navbar-inner{
height:60px;
}
.myCarousel{
height:500px;
}
.carousel-inner{height:400px;
}
.desc{
}
#article_body{
width:500px;
height:300px;
}

.span4{min-height:200px;
}
.well{
height: 400px;
overflow-y: auto;
}
.span6{ height:400px;
	margin-top:auto;
	margin-bottom:auto;
}
.row-fluid{
	margin-top:40px;
	margin-bottom:40px;
}
.container-fluid
{
background-color: rgba(44, 134, 151, 0.31); background-position: initial initial; background-repeat: initial initial;}
.carousel{
	margin-bottom:0px;
}
#footer{
background-color:black;
padding-top: 20px;
padding-bottom: 20px;
margin:0px;}
#errortext{display:inline-block;}
.span3{height:290px;}
img{height:100%;}
#comment_comment{width: 310px;
height: 20px;}
.comment{
display:inline-block;
}
.commentelements{
display:inline-block;
vertical-align: top;
}
.well{
background-color:rgba(255, 255, 255, 0.25)
}
a:link{text-decoration:none;}
.media-heading
{
display:inline-block;
vertical-align: top;
}





#slideout {

  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: white;
}
#slideout_inner {
  position: fixed;
  top: 40px;
  left: -250px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: rgba(11, 26, 34, 0.46);
width: 250px;

height: 500px;

}
#blog{color: rgba(25, 73, 228, 0.9);
text-align: center;
padding-bottom: 10px;
padding-top: 15px;}
#blogtitle{color: white;
margin-left: 4px;
padding-left: 20px;
padding-bottom: 3px;}
#slideout:hover {
  left: 250px;
}
#slideout:hover #slideout_inner {
  left: 0;
}


a:hover
{ 
color:rgba(25, 73, 228, 0.9);
text-decoration: none;
}
>>>>>>> 22a9b2590f5382dd0e2df41825926be6a254b913
