.navbar{
margin-bottom:0px;
height:20%;
}
.navbar-inner{
height:60px;
}
.myCarousel{
height:500px;
}
.carousel-inner{height:400px;
}
.desc{
}
#article_body{
width:500px;
height:300px;
}

.span4{min-height:200px;
}
.well{
height: 400px;
overflow-y: auto;
}
.span6{ height:400px;
	margin-top:auto;
	margin-bottom:auto;
}
.row-fluid{
	margin-top:40px;
	margin-bottom:40px;
}
.container-fluid
{
background-color: rgba(44, 134, 151, 0.31); background-position: initial initial; background-repeat: initial initial;}
.carousel{
	margin-bottom:0px;
}
#footer{
background-color:black;
padding-top: 20px;
padding-bottom: 20px;
margin:0px;}
#errortext{display:inline-block;}
.span3{height:290px;}
img{height:100%;}
#comment_comment{width: 310px;
height: 20px;}
.comment{
display:inline-block;
}
.commentelements{
display:inline-block;
vertical-align: top;
}
.well{
background-color:rgba(255, 255, 255, 0.25)
}
a:link{text-decoration:none;}
.media-heading
{
display:inline-block;
vertical-align: top;
}