.navbar{
margin-bottom:0px;
height:20%;
}
.navbar-inner{
height:60px;
}
.myCarousel{
height:500px;
}
.carousel-inner{height:500px;
}
.desc{font-size:20px;
}
#article_body{
width:500px;
height:300px;
}

.span4{min-height:200px;
}
.well{
height: 400px;
overflow-y: scroll;
}
.span6{ height:400px;
	margin-top:auto;
	margin-bottom:auto;
}
.row-fluid{
	margin-top:40px;
	margin-bottom:40px;
}
.container-fluid
{background-image: url(http://subtlepatterns.com/patterns/ps_neutral.png); background-position: initial initial; background-repeat: initial initial;}
.carousel{
	margin-bottom:0px;
}
#footer{
background-color:black;
padding-top: 20px;
padding-bottom: 20px;
margin:0px;}
#errortext{display:inline-block;}