// Place all the styles related to the userprofiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pic{display:inline-block;}
.info{display:inline-block;vertical-align: top; font-size:25px;font-family:'open-sans';float:right;color:rgba(88, 83, 83, 0.71);}